PVGeo
pyvista
# 2018-10 bumping requirements up to what I can see from `conda list`; otherwise old numpy on travis causes issues
# It may be possible to lower version requireents but I do not have time to chase that rabbit up down the python version holes.
cython>=0.28.5
numpy>=1.15.1   # 
pandas>=0.23.4
scipy>=1.1.0
scikit-learn>=0.19.1
matplotlib>=2.2.2
geopandas>=0.3.0
Cartopy>=0.16.0
wordcloud>=1.5.0
# ipykernel>=4.8.2
# ipywidgets>=7.2.1
# jupyterlab>=0.32.1
# jupyter>=1.0.0
# jupyterlab-launcher>=0.10.5
# need pillow otherwise travis: ImportError while importing test module 'jmp75/pyela/tests/test_visual.py'.
pillow>=5.1.0
nltk>=3.2.5
# PyQt5 is required for mayavi viz at runtime as a backend but is only available for Python3, I think. Not sure anymore how things worked out on Win+Py2.7.
# PyQt5>=5.10.1
PyQt5>=5.10.1; python_version >= '3.5'
rasterio>=0.36.0
# striplog
# https://github.com/jmp75/striplog/archive/devel.zip
# -e git+git@github.com:jmp75/striplog.git@7c6ae22a130ad2ba3d351c31574778ec121571d3#egg=striplog
-e git+https://github.com/jmp75/striplog@master#egg=striplog
# vtk>=8.1.0
# mayavi>=4.5.0
# 2018-10 disable mayavi. Otherwise barfs with:
# running gen_docs
# qt.qpa.screen: QXcbConnection: Could not connect to display
# Could not connect to any X display.
